{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "jest"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["off"],
    "prettier/prettier": "error",
    "arrow-body-style": ["off"]
  },
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
