.menu {
  position: absolute;
  padding: 20px;
}
.menu > * {
  display: block;
}

.menu.with-all-items {
  padding-top: 20px;
}

.menu h3 {
  font-weight: 100;
}

.menu.sticky {
  position: fixed;
  top: 0;
}

.menu h1 {
  height: 60px;
}

.menu .disable {
  opacity: 0.5;
  cursor: auto;
}
