.menu {
  position: absolute;
  padding: 20px;
}
.menu > * {
  display: block;
}

.menu.with-all-items {
  padding-top: 20px;
}

.menu h3 {
  font-weight: 100;
}

.menu.sticky {
  position: fixed;
  top: 0;
  padding-top: 32px;
}

.menu h1 {
  height: 60px;
}

.menu .disable {
  opacity: 0.5;
  cursor: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .menu h3 {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 768px) {
  .menu h3 {
    font-size: 13px !important;
  }
}
