.media-item {
  width: 100%;
  height: 100%;
}

.media-item:hover {
  cursor: pointer;
}

.media-item {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .media-item {
    min-height: 250px !important;
  }

  /*.xx-xx-x-x-x-x > *:first-child .media-item,*/
  /*.xx-xx .media-item {*/
  /*height: 50vw;*/
  /*}*/
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
}
