.mobile-header {
  position: fixed;
  width: calc(100vw - 20px);
  left: 0;
  top: 0;
  padding: 10px;
  z-index: 99999;
  height: 30px;
}

.mobile-header * {
  color: white;
}

.mobile-header > *:nth-child(2) {
  float: right;
}
