.loading-dots {
  width: 50px;
  height: 20px;
  padding-left: 8px;
}

.loading-dots:after {
  content: " . ";
  color: rgb(255, 189, 255);
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgb(255, 189, 255);
    text-shadow: 0.25em 0 0 rgba(255, 189, 255, 0.1),
      0.5em 0 0 rgba(255, 189, 255, 0.1);
  }
  40% {
    color: rgb(255, 189, 255);
    text-shadow: 0.25em 0 0 rgba(255, 189, 255, 0.1),
      0.5em 0 0 rgba(255, 189, 255, 0.1);
  }
  60% {
    text-shadow: 0.25em 0 0 rgb(255, 189, 255),
      0.5em 0 0 rgba(255, 189, 255, 0.1);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 rgba(255, 189, 255, 1),
      0.5em 0 0 rgba(255, 189, 255, 1);
  }
}
