.question .answer {
  display: none;
}

.question.open .answer {
  display: block;
}

.question + .question {
  margin-top: 1em;
}

.question-title {
  cursor: pointer;
}

.question-title:hover {
  opacity: 0.5;
}

.question ul,
.question li {
  list-style: none;
}

.question li {
  margin-top: 1em;
  margin-left: 20px;
}

.question > .article {
  margin-top: 10px;
}
