.getting-started-wrapper {
  position: relative;
}

.getting-started-wrapper > a {
  position: absolute;
  top: -108px;
  left: calc(calc(100vw - 40px) * 0.4);
  width: calc(calc(100vw - 40px) * 0.4 - 40px);
  padding: 20px;
  text-align: center;
  background: #fdd0dd;
  color: white;
  z-index: 0;
  height: 49px;
}

.getting-started-wrapper > a:hover {
  background: #fb9db8;
}

@media only screen and (max-width: 600px) {
  .getting-started-wrapper > a {
    width: calc(100vw - 40px);
    position: unset;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .getting-started-wrapper > a,
  .getting-started-wrapper > a h1 {
    font-size: 26px;
    height: 45px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .getting-started-wrapper > a {
    left: calc(calc(100vw - 40px) * 0.333333);
    width: calc(calc(100vw - 40px) * 0.333333 * 2 - 40px);
    position: unset;
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
