.page-with-button-wrapper {
  position: relative;
}

.page-with-button-wrapper > a {
  position: absolute;
  top: -108px;
  left: calc(calc(calc(100vw - 40px) * 0.4) + 1px);
  width: calc(calc(100vw - 40px) * 0.4 - 41px);
  padding: 20px;
  text-align: center;
  background: #fdd0dd;
  color: white;
  z-index: 0;
  height: 47px;
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}

.page-with-button-wrapper > a:hover {
  background-color: #fb9db8;
}

@media only screen and (max-width: 600px) {
  .page-with-button-wrapper > a {
    width: calc(100vw - 40px);
    position: unset;
    display: block;
    margin: 0 auto 20px auto;
    padding: 20px 0;
  }

  .page-with-button-wrapper > a,
  .page-with-button-wrapper > a h1 {
    font-size: 26px;
    height: 45px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .page-with-button-wrapper > a {
    width: calc(calc(100vw - 90px) * 0.8 - 40px);
    position: unset;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .page-with-button-wrapper > a h1 {
    font-size: 25px;
    margin-top: 7px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1280px) {
  .page-with-button-wrapper > a h1 {
    font-size: 23px;
    line-height: 45px;
  }
}

.firefox .page-with-button-wrapper > a {
  top: -98px;
  height: 37px;
}
