.section-body,
.section-title {
  display: grid;
  grid-template-columns: 10% 80% 10%;

  width: calc(100vw - 40px);

  padding-left: 20px;
  padding-right: 20px;
  /*margin-top: 50px;*/
}

.section-body {
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-title h1 {
  padding: 20px;
}

.landing-section .section-body {
  padding-top: 0;
}

.content {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .content {
    /*margin-top: 70px;*/
  }

  .section-body,
  .section-title {
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid blue;
    width: 100%;
  }

  .section-title > * {
    text-align: center;
    align-self: center;
  }

  .sections {
    width: 100vw;
    background: black;
    color: white;
  }

  .sections .section-wrapper .section-body {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sections .section-wrapper.open .section-body {
    display: block;
  }

  .sections .section-title {
    height: calc(calc(100vh - 70px) / 5);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .section-body,
  .section-title {
    display: grid;
    grid-template-columns: 20% 80%;
  }

  #landing .text-block:first-child {
    font-size: 28px;
  }
}
