.section-body,
.section-title {
  display: grid;
  grid-template-columns: 20% 80%;

  width: calc(100% - 40px);

  padding-left: 20px;
  padding-right: 20px;
  /*margin-top: 50px;*/
}

.section-body {
  /*margin-top: -53px;*/
  padding-top: 50px;
  /*padding-bottom: 100px;*/
  /*border-top: 1px solid blue;*/
  /*border-bottom: 1px solid red;*/
}

.section-title h1 {
  padding: 20px;
}

.section-wrapper:first-child .section-body {
  padding-top: 0;
  margin-top: -20px;
}

.content {
  margin-top: 20px;
}
