body {
  font-family: "IBM Plex Mono", Monospaced;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
a,
article,
pre,
span,
i {
  margin: 0;
  padding: 0;
  word-break: break-word;
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.content {
}
