.xx-xx-x-x-x-x {
  grid-template-columns: repeat(4, 25fr);
}

.xx-xx-x-x-x-x > *:first-child {
  grid-column: 1/3;
}

.xx-xx-x-x-x-x > *:nth-child(2) {
  grid-column: 3/5;
}

.xx-xx {
  grid-template-columns: repeat(2, 50fr);
}

.x-x-x-x > * .media-item,
.xx-xx-x-x-x-x > * .media-item {
  height: 20vw;
}

.xx-xx-x-x-x-x > *:first-child .media-item,
.xx-xx-x-x-x-x > *:nth-child(2) .media-item,
.xx-xx .media-item {
  height: 20vw;
}

.xx-xx-x-x-x-x > *:first-child .item-info,
.xx-xx-x-x-x-x > *:nth-child(2) .item-info,
.xx-xx .item-info {
  min-height: 10vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.x-x-x-x > * .item-info:not(.show-all) .blurb,
.xx-xx-x-x-x-x > *:nth-child(n + 3) .item-info:not(.show-all) .blurb {
  display: none;
}

.x-x-x-x > * .item-info .metadata-group:last-child,
.xx-xx-x-x-x-x > *:nth-child(n + 3) .item-info .metadata-group:last-child {
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .xx-xx-x-x-x-x > *:first-child .item-info,
  .xx-xx-x-x-x-x > *:nth-child(2) .item-info,
  .xx-xx .item-info {
    /*min-height: 20vw;*/
  }

  .gallery-item .item-info h3 {
    padding: 10px 20px 0 20px;
  }

  .x-x-x-x > * .gallery-item,
  .xx-xx-x-x-x-x > *:nth-child(n + 3) .gallery-item {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 764px) and (max-width: 1024px) {
  .grid .media-item {
    height: 20vw;
  }
  .xx-xx-x-x-x-x > *:first-child .media-item,
  .xx-xx .media-item {
    height: 35vw;
  }
}
