.item-info {
  overflow: hidden;
  padding-bottom: 20px;
  display: grid;
}

.item-title {
  grid-area: title;
}
.item-credits {
  grid-area: credits;
  align-self: flex-end;
}
.item-blurb {
  grid-area: blurb;
}

.gallery-item .item-info > * {
  padding: 10px 20px 0 20px;
}

.gallery-item .item-blurb {
  font-size: 10px;
}

.gallery-item .item-info h3 {
  font-weight: 100;
}

.read-more {
  color: gray;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  margin-top: 1em;
  display: block;
  grid-column: 2/3;
}

.item-title {
  cursor: pointer;
}

.item-title:hover {
  opacity: 0.5;
}

.techspec *,
.credits * {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}
.techspec {
  margin-bottom: 18px;
}

.media-item-caption {
  font-size: 12px;
}

.media-item-credit {
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1024px) {
  .read-more {
    grid-column: 1;
    margin-top: 0;
    padding-top: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .techspec *,
  .credits * {
    color: rgba(255, 255, 255, 0.75);
  }
}
