.gallery-item .item-info > * {
  padding: 10px 20px 20px 20px;
}

.gallery-item .item-info .blurb {
  font-size: 10px;
}

.gallery-item .item-info h3 {
  font-weight: 100;
}

.gallery-lightbox {
  width: calc(100vw - 40px);
  height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.gallery-lightbox .carousel-container {
  height: 100vh;
  width: calc(100% - 20px);
}

.gallery-lightbox .slide-wrapper {
  width: calc(100vw - 40px);
  height: 100vh;
  /*padding: 20px;*/
  display: grid;
  color: white;
}
.slide-content-column {
  display: grid;
  align-self: center;
}

.slide-content-column img {
  width: 100%;
  height: auto;
}

.slide-wrapper.vertical {
  grid-template-columns: 20% 40% 20% 20%;
}

.slide-wrapper.horizontal {
  grid-template-columns: 20% 60% 20%;
}

.slide-wrapper * {
  color: white;
}

.gallery-lightbox .carousel-container .slider,
.slider-frame,
.slider-list,
.slider-slide {
  height: 100% !important;
}

.gallery-lightbox .control {
  color: white;
  font-size: 2rem;
}

.gallery-lightbox .control:hover {
  cursor: pointer;
  color: springgreen;
}

.carousel-close-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 9999999;
}

@media only screen and (max-width: 600px) {
  .slide-wrapper.horizontal,
  .slide-wrapper.vertical {
    grid-template-columns: 100%;
  }

  .gallery-lightbox .carousel-container {
    width: 100%;
  }

  .slider-control-bottomleft,
  .slider-control-bottomright {
    bottom: 40px !important;
  }

  .gallery-lightbox .control {
    font-size: 1rem;
  }
}
