.gallery-item .item-info > * {
  padding: 10px 20px 20px 20px;
}

.gallery-item .item-info .blurb {
  font-size: 10px;
}

.gallery-item .item-info h3 {
  font-weight: 100;
}

.gallery-lightbox {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 5rem;
}

.gallery-lightbox .carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-lightbox .media-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-lightbox .carousel-container .slider,
.slider-frame,
.slider-list,
.slider-slide {
  height: 100% !important;
}

.gallery-lightbox .control {
  color: white;
  font-size: 5rem;
}

.gallery-lightbox .control:hover {
  cursor: pointer;
  color: springgreen;
}

.carousel-close-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 9999999;
}
