.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-wrapper img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper.landscape img {
  width: 100%;
  height: auto;
}

.image-wrapper.landscape.narrow img {
  width: auto;
  height: 120%;
}

@-moz-document url-prefix() {
  .image-wrapper img {
    min-height: 370px;
  }
}

.image-wrapper.portrait img {
  width: 100%;
  height: auto;
}

.x-x-x-x > * .image-wrapper img,
.xx-xx-x-x-x-x > *:nth-child(n + 3) .image-wrapper img {
  height: 100%;
  width: auto;
}

.load-icon {
  width: 20px !important;
  height: auto !important;
}

.image-wrapper img:not(.load-icon) {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.image-wrapper.loaded img:not(.load-icon) {
  opacity: 1;
}
@media only screen and (min-width: 764px) and (max-width: 1024px) {
}
