.light-box {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}

.light-box-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 8fr 2fr;
}

.light-box-content > * {
  overflow: hidden;
}

.light-box-content img {
  width: 100%;
  height: auto;
}

.slide-wrapper.vertical img {
  height: calc(calc(calc(100vh - 40px) * 0.8) * 0.85);
  width: auto;
  margin: auto;
}
.slide-wrapper.vertical .media-item-caption {
  text-align: center;
}

.media-item-caption {
  margin-top: 1em;
  align-self: flex-start;
}

.media-item-caption > *:not(:first-child) {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  margin-top: 1em;
}

.slide-wrapper {
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-rows: 8.5fr 1.5fr;
}

.slide-wrapper .media-item-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.slide-wrapper.horizontal {
  width: 80%;
  padding: 0 10%;
}

.slide-wrapper.portrait {
  width: 60%;
}

.light-box-thumbnails-wrapper {
  display: flex;
}

.light-box-thumbnails-container {
  display: flex;
  align-self: center;
  margin: auto;
}

.light-box-thumbnail {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 1px;
  align-self: center;

  cursor: pointer;

  -webkit-transition: opacity 500ms ease-in-out;
  -moz-transition: opacity 500ms ease-in-out;
  -ms-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.light-box-thumbnail.highlighted,
.light-box-thumbnail:hover {
  opacity: 0.25;
}

.light-box-thumb-container {
  width: 100%;
  height: 100%;
}

.light-box-content > * {
  overflow: hidden;
}

.light-box ul > li:before {
  display: none;
}

.light-box .carousel-container .slider,
.slider-frame,
.slider-list,
.slider-slide,
.slide-wrapper {
  height: 100% !important;
}

.light-box .control {
  cursor: pointer;
}

.light-box .control:hover {
  opacity: 0.5;
}

.carousel-close-btn {
  position: fixed;
  background: url("/close-white.png");
  width: 15px;
  height: 15px;
  background-size: 100%;
  top: 60px;
  right: 20px;
  z-index: 9999999;
}

.slider-control-bottomcenter {
  display: none;
}

.slider-control-centerright .control {
  background: url("/next-white.png");
  width: 15px;
  height: 26px;
  background-size: 100%;
}

.slider-control-centerleft .control {
  background: url("/prev-white.png");
  width: 15px;
  height: 26px;
  background-size: 100%;
}

@media only screen and (max-width: 600px) {
  .slide-wrapper {
    grid-template-rows: 8fr 2fr;
  }

  .slide-wrapper.horizontal,
  .slide-wrapper.portrait {
    width: 100%;
    padding: 0 !important;
  }

  .light-box-thumbnails-wrapper {
    overflow-x: scroll;
  }

  .light-box-thumbnail {
    width: 80px;
    height: 80px;
    padding: 20px;
  }

  .light-box-thumbnail.highlighted > * {
    border: 1px solid white;
  }

  .carousel-close-btn {
    position: fixed;
    background: url("/close-white.png");
    background-size: 100%;
    z-index: 999999999999;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
}
