.grid {
  display: grid;
}

.load-more {
  border-bottom: 1px solid;
  border-top: 1px solid;
  display: grid;
  cursor: pointer;
}

.load-more.disabled {
  cursor: initial;
}

.load-more > * {
  padding: 10px;
  align-self: center;
  text-transform: uppercase;
}

.gallery-title {
  padding: 20px;
}

.gallery:last-child .load-more {
  border-bottom: none;
}
