footer {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  height: calc(300px + 50vh);
  text-align: center;
}

footer > * {
  /*align-self: center;*/
  margin-top: 150px;
}

footer > * > *:first-child h3 {
  margin-bottom: 3px;
}

@media only screen and (max-width: 600px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  footer * {
    color: white;
  }
}
