.event-block,
.event-block * {
  font-size: 12px;
  line-height: 18px;
}

.location-address {
  margin-top: 9px;
  font-size: 10px;
  white-space: pre-wrap;
}

.event-title,
.type-event .event-note {
  font-size: 18px;
  line-height: 24px;
}
