.image-wrapper {
  width: 100%;
  height: 100%;
  /*position: relative;*/
}

.image-wrapper img {
  width: 100%;
  height: auto;
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.x-x-x-x > * .image-wrapper img,
.xx-xx-x-x-x-x > *:nth-child(n + 3) .image-wrapper img {
  height: 100%;
  width: auto;
}

.load-icon {
  width: 20px !important;
  height: auto !important;
}

.image-wrapper img:not(.load-icon) {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.image-wrapper.loaded img:not(.load-icon) {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .x-x-x-x > * .image-wrapper img,
  .xx-xx-x-x-x-x > *:nth-child(n + 3) .image-wrapper img {
    height: auto;
    width: 100%;
  }
}
