.banner {
  width: calc(100% - 40px);
  background: white;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .banner {
    padding-top: 50px;
    background: black;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /*.banner .media-item {*/
  /*height: 70vh !important;*/
  /*}*/
}

.banner iframe {
  width: 100% !important;
  height: 100% !important;
}
